.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.questionBlock {
  margin: 2.5rem;
}

.questionStudyContainer {
  margin: 2rem;
}

.testSummaryBlock {
  margin: 2.5rem;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(45, 216, 45);
}

button {
  padding: 9px 25px;
  border: none;
  border-radius: 50px;
  margin: 10px;
  background-color: lightgray;
  -webkit-background-color: lightgray;
  
}
div {
  text-align: center;
}

h1 {
  margin: 1rem;
  text-align: center;
}
h2 {
  margin: 1rem;
  text-align: center;
}
h3 {
  margin: 1rem;
  text-align: center;
}


.navLinks {
  list-style: none;
}

.navLinks li {
  display: inline-block;
  padding: 5px 20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
